body{
    margin: 0px;
    padding: 0px;
    background-color: black; 
    /*overflow: hidden;*/
}

video,
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

canvas {
  z-index: 2;
  opacity: 0.5;
}
